/* widths */
/* colors */
body {
  font-family: "Roboto", sans-serif;
  background: white;
  color: #8cd6af;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

h1 {
  text-align: left;
  font-weight: 100;
  font-size: 4rem;
  color: white; }

h2 {
  text-align: center;
  font-weight: 700;
  font-style: oblique;
  font-size: 2.4rem; }

.block {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin-right: 5px; }

.g1 {
  background: #006644; }

.g2 {
  background: #009966; }

.g3 {
  background: #55bb88; }

.g4 {
  background: #8cd6af; }

label {
  display: block;
  width: 90%;
  float: left;
  text-align: left;
  margin: 30px 5% 0;
  color: #8cd6af;
  text-transform: uppercase;
  text-shadow: 1px 2px 0 #009966;
  height: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

input {
  float: left;
  width: 96%;
  margin: 10px 2%;
  color: black;
  padding: 5px 15px 10px;
  line-height: 50px;
  border: none;
  color: black;
  background: #55bb88;
  background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
  background-size: 100% 5px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Roboto";
  -webkit-appearance: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  transition: all .5s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }
  input input {
    border-color: black; }
  input:focus {
    color: #ffe400;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
    background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
  input::-webkit-input-placeholder {
    color: #8cd6af; }
  input[type=radio] {
    display: block;
    height: 30px;
    width: 30px;
    margin: 5px 10px;
    background: transparent !important;
    border: 2px solid;
    border-radius: 100%; }
    input[type=radio]:after {
      position: absolute;
      font-family: FontAwesome;
      top: 0;
      left: -5px;
      content: "\25AE"; }

select {
  margin: 10px 2%;
  color: black;
  padding: 5px 15px 10px;
  line-height: 50px;
  border: none;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Roboto";
  -webkit-appearance: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  color: #8cd6af;
  background: #55bb88;
  background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
  background-size: 100% 5px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat; }
  select:focus {
    color: #ffe400;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
    background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
  select input {
    border-color: #8cd6af; }

span.inputs {
  display: block;
  float: left;
  text-align: left;
  width: 100%;
  margin: 2%; }
  span.inputs label {
    width: inherit;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Roboto";
    -webkit-appearance: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: gray;
    background: #b8b3bc;
    background-image: -webkit-linear-gradient(left, #ddd8e0 0%, #ddd8e0 100%);
    background-size: 100% 5px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    text-shadow: none;
    height: auto;
    padding: 15px 0 10px;
    line-height: 2.4rem; }
    span.inputs label:focus {
      color: #ffe400;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
      background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
    span.inputs label input {
      border-color: gray; }
    span.inputs label.separate_line {
      display: block;
      clear: both; }
    span.inputs label.yes {
      color: #006644;
      background: rgba(85, 187, 136, 0.5);
      background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-align: right; }
      span.inputs label.yes input {
        border-color: #006644; }
      span.inputs label.yes input {
        float: right; }
    span.inputs label.no {
      color: #db3900;
      background: rgba(219, 57, 0, 0.5);
      background-image: -webkit-linear-gradient(left, #db3900 0%, #db3900 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-align: left; }
      span.inputs label.no input {
        border-color: #db3900; }
    span.inputs label.female {
      color: #db3900;
      background: rgba(219, 57, 0, 0.5);
      background-image: -webkit-linear-gradient(left, #db3900 0%, #db3900 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-align: right; }
      span.inputs label.female input {
        border-color: #db3900; }
      span.inputs label.female input {
        float: right; }
    span.inputs label.male {
      color: #1185d0;
      background: rgba(17, 133, 208, 0.5);
      background-image: -webkit-linear-gradient(left, #1185d0 0%, #1185d0 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-align: left; }
      span.inputs label.male input {
        border-color: #1185d0; }
    span.inputs label.yes, span.inputs label.no, span.inputs label.female, span.inputs label.male {
      width: 44%;
      margin: 0 4% 0 0; }

.wrapper {
  width: 960px;
  margin: auto; }

a.btn {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 100%; }
  a.btn i {
    font-size: 20px; }

#registration_form {
  width: 100%;
  margin: 0 auto;
  background: #006644;
  overflow-x: hidden; }
  #registration_form #welcome {
    padding: 1px 0;
    background: #006644;
    background-image: url(../img/front.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    #registration_form #welcome img {
      margin: 20px 0; }
    #registration_form #welcome h1 {
      position: absolute;
      bottom: 180px; }
    #registration_form #welcome h2 {
      color: #006644;
      text-shadow: 1px 2px 0 #8cd6af;
      position: absolute;
      bottom: 110px;
      margin-left: 45px; }
  #registration_form #numberCheck {
    color: #006644;
    background: #8cd6af;
    display: block;
    padding: 50px 100px 10px;
    position: absolute;
    top: -40px;
    right: -150px;
    z-index: 10;
    transform: rotateZ(45deg);
    transition: all .5s ease-in-out; }
    #registration_form #numberCheck section {
      display: none;
      opacity: 0;
      height: 0;
      transition: all .5s; }
    #registration_form #numberCheck h5, #registration_form #numberCheck h6 {
      text-align: center;
      color: #006644;
      margin: 10px auto 0;
      opacity: 1;
      transition: all .5s; }
    #registration_form #numberCheck h6 {
      text-transform: uppercase;
      font-size: 1rem; }
    #registration_form #numberCheck:hover {
      background: #ffe400; }
    #registration_form #numberCheck.open {
      width: 300px;
      height: 160px;
      position: absolute;
      top: 50%;
      right: 50%;
      margin-right: -250px;
      margin-top: -100px;
      transform: rotateZ(0deg); }
      #registration_form #numberCheck.open section {
        display: block;
        opacity: 1;
        height: auto; }
      #registration_form #numberCheck.open h5, #registration_form #numberCheck.open h6 {
        opacity: 0; }
      #registration_form #numberCheck.open:hover {
        background: #8cd6af; }
  #registration_form #wizard {
    color: white;
    overflow: auto;
    padding-bottom: 50px;
    background: #006644;
    background-image: url(../img/front-green.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; }
    #registration_form #wizard div {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      padding: 10px;
      width: 14.28571%;
      display: inline-block;
      float: left;
      color: inherit; }
      #registration_form #wizard div a {
        color: inherit;
        text-decoration: none; }
        #registration_form #wizard div a .number {
          display: block;
          width: 35px;
          height: 35px;
          border: 4px solid;
          border-radius: 100%;
          text-align: center;
          line-height: 35px;
          font-size: 1.5rem;
          font-weight: 600;
          margin: auto;
          cursor: pointer; }
          #registration_form #wizard div a .number:after {
            content: "";
            display: block;
            border: 2px solid;
            width: 270%;
            left: 100%;
            bottom: 58%;
            position: relative;
            cursor: initial; }
      #registration_form #wizard div h4 {
        display: none; }
      #registration_form #wizard div.unavailable {
        color: #8cd6af; }
      #registration_form #wizard div.active {
        color: #ffe400; }
      #registration_form #wizard div.last .number:after {
        content: "";
        width: 0;
        border: none; }
  #registration_form fieldset {
    width: 100%;
    border: 0;
    padding: 0;
    height: auto;
    background: #006644;
    background-image: url(../img/front-green.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; }
    #registration_form fieldset header legend {
      height: 50px;
      font-size: 2rem;
      font-weight: 100;
      color: #ffe400;
      margin-left: 30px;
      padding: 0;
      line-height: 2.5rem;
      vertical-align: top;
      overflow: hidden; }
      #registration_form fieldset header legend strong {
        font-size: 4rem;
        font-weight: 900;
        line-height: 2.8rem;
        display: none; }
      #registration_form fieldset header legend .fa {
        width: 70px;
        text-align: center; }
    #registration_form fieldset section {
      width: 100%;
      background: white;
      overflow: auto; }
      #registration_form fieldset section ol {
        display: block; }
        #registration_form fieldset section ol li {
          float: left;
          text-align: left;
          width: 50%;
          display: block; }
          #registration_form fieldset section ol li.optional {
            opacity: .3; }
    #registration_form fieldset.closed {
      height: 50px;
      overflow: hidden; }
      #registration_form fieldset.closed legend {
        color: white; }
      #registration_form fieldset.closed:hover {
        height: 60px; }
        #registration_form fieldset.closed:hover legend {
          color: #ffe400; }
    #registration_form fieldset.unavailable legend {
      color: #8cd6af; }
