/* widths */
/* colors */
body {
  font-family: "Roboto", sans-serif;
  background: white;
  color: #8cd6af;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

h1 {
  text-align: left;
  font-weight: 100;
  font-size: 4rem;
  color: white; }

h2 {
  text-align: center;
  font-weight: 700;
  font-style: oblique;
  font-size: 2.4rem; }

h3 {
  font-weight: 200;
  color: white;
  font-style: oblique;
  font-size: 1.3rem;
  margin: .8 rem; }

.block {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin-right: 5px; }

.g1 {
  background: #006644; }

.g2 {
  background: #009966; }

.g3 {
  background: #55bb88; }

.g4 {
  background: #8cd6af; }

.greenBG {
  background: #006644;
  background-image: url(../img/front-green.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .greenBG label {
    display: block;
    width: 90%;
    float: left;
    text-align: left;
    margin: 30px 5% 0;
    color: #006644;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 2px 0 #009966;
    height: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    color: #8cd6af; }
  .greenBG input {
    float: left;
    width: 96%;
    margin: 10px 2%;
    color: black;
    padding: 5px 15px 10px;
    line-height: 50px;
    border: none;
    color: black;
    background: #55bb88;
    background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
    background-size: 100% 5px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Roboto";
    -webkit-appearance: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    transition: all .5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; }
    .greenBG input input {
      border-color: black; }
    .greenBG input:focus {
      color: #ffe400;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
      background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
    .greenBG input::-webkit-input-placeholder {
      color: #8cd6af; }
    .greenBG input[type=radio] {
      display: block;
      height: 30px;
      width: 30px;
      margin: 5px 10px;
      background: transparent !important;
      border: 2px solid;
      border-radius: 100%; }
      .greenBG input[type=radio]:after {
        position: absolute;
        font-family: FontAwesome;
        top: 0;
        left: -5px;
        content: "\25AE"; }
    .greenBG input[type=button] {
      color: white;
      background: #006644;
      background-image: -webkit-linear-gradient(left, #8cd6af 0%, #8cd6af 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat; }
      .greenBG input[type=button] input {
        border-color: white; }
      .greenBG input[type=button]:hover {
        color: #ffe400;
        background-color: #009966;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
        background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
  .greenBG select {
    margin: 10px 2%;
    color: black;
    padding: 5px 15px 10px;
    line-height: 50px;
    border: none;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Roboto";
    -webkit-appearance: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    color: #8cd6af;
    background: #55bb88;
    background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
    background-size: 100% 5px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat; }
    .greenBG select:focus {
      color: #ffe400;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
      background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
    .greenBG select input {
      border-color: #8cd6af; }
  .greenBG span.inputs {
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    margin: 2%; }
    .greenBG span.inputs label {
      width: inherit;
      text-align: left;
      font-size: 1.5rem;
      font-weight: 200;
      font-family: "Roboto";
      -webkit-appearance: none;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 3px;
      color: gray;
      background: #ededed;
      background-image: -webkit-linear-gradient(left, #fafafa 0%, #fafafa 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-shadow: none;
      height: auto;
      padding: 15px 0 10px;
      line-height: 2.4rem; }
      .greenBG span.inputs label:focus {
        color: #ffe400;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
        background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
      .greenBG span.inputs label input {
        border-color: gray; }
      .greenBG span.inputs label.separate_line {
        display: block;
        clear: both; }
      .greenBG span.inputs label.yes {
        color: #006644;
        background: rgba(85, 187, 136, 0.5);
        background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        text-align: right; }
        .greenBG span.inputs label.yes input {
          border-color: #006644; }
        .greenBG span.inputs label.yes input {
          float: right; }
      .greenBG span.inputs label.no {
        color: #db3900;
        background: rgba(219, 57, 0, 0.5);
        background-image: -webkit-linear-gradient(left, #db3900 0%, #db3900 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        text-align: left; }
        .greenBG span.inputs label.no input {
          border-color: #db3900; }
      .greenBG span.inputs label.female {
        color: #db3900;
        background: rgba(219, 57, 0, 0.5);
        background-image: -webkit-linear-gradient(left, #db3900 0%, #db3900 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        text-align: right; }
        .greenBG span.inputs label.female input {
          border-color: #db3900; }
        .greenBG span.inputs label.female input {
          float: right; }
      .greenBG span.inputs label.male {
        color: #1185d0;
        background: rgba(17, 133, 208, 0.5);
        background-image: -webkit-linear-gradient(left, #1185d0 0%, #1185d0 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        text-align: left; }
        .greenBG span.inputs label.male input {
          border-color: #1185d0; }
      .greenBG span.inputs label.yes, .greenBG span.inputs label.no, .greenBG span.inputs label.female, .greenBG span.inputs label.male {
        width: 44%;
        margin: 0 4% 0 0; }

.whiteBG {
  background: #006644;
  background-image: url(../img/front-green.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .whiteBG section {
    background: white; }
  .whiteBG label {
    display: block;
    width: 90%;
    float: left;
    text-align: left;
    margin: 30px 5% 0;
    color: #006644;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 2px 0 #009966;
    height: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    color: #999999;
    text-shadow: none; }
  .whiteBG input {
    float: left;
    width: 96%;
    margin: 10px 2%;
    color: black;
    padding: 5px 15px 10px;
    line-height: 50px;
    border: none;
    color: #006644;
    background: #ededed;
    background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
    background-size: 100% 5px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Roboto";
    -webkit-appearance: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    transition: all .5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; }
    .whiteBG input input {
      border-color: #006644; }
    .whiteBG input:focus {
      color: #ffe400;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
      background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
    .whiteBG input::-webkit-input-placeholder {
      color: #8cd6af; }
    .whiteBG input:focus {
      color: #009966; }
    .whiteBG input[type=radio] {
      display: block;
      height: 27px;
      width: 20px;
      margin: 5px 10px;
      background: white !important;
      border: 2px solid;
      border-radius: 100%; }
      .whiteBG input[type=radio]:after {
        position: absolute;
        font-family: FontAwesome;
        top: 0;
        left: -5px;
        content: "\25AE"; }
    .whiteBG input[type=checkbox] {
      height: 22px;
      display: block;
      width: 22px;
      padding: 0;
      background: white;
      border: 2px solid;
      margin: 8px 15px 8px 24px; }
    .whiteBG input[type=button] {
      color: #8cd6af;
      background: #006644;
      background-image: -webkit-linear-gradient(left, #b0f0cc 0%, #b0f0cc 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      margin-top: 20px; }
      .whiteBG input[type=button] input {
        border-color: #8cd6af; }
      .whiteBG input[type=button]:hover {
        color: #ffe400;
        background: #009966;
        background-image: -webkit-linear-gradient(left, #ffe400 0%, #ffe400 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
        background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
        .whiteBG input[type=button]:hover input {
          border-color: #ffe400; }
    .whiteBG input[type=file] {
      margin-left: 32%;
      width: 66%;
      height: 65px;
      color: #8cd6af;
      background: #fafafa;
      background-image: -webkit-linear-gradient(left, #b0f0cc 0%, #b0f0cc 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat; }
      .whiteBG input[type=file] input {
        border-color: #8cd6af; }
      .whiteBG input[type=file]::-webkit-input-placeholder {
        color: red;
        padding: 20px; }
      .whiteBG input[type=file]::-webkit-file-upload-button {
        visibility: hidden; }
      .whiteBG input[type=file]::before {
        content: 'Choose file';
        display: inline-block;
        border-radius: 3px;
        padding: 7px 8px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        color: #8cd6af;
        background: #009966;
        background-image: -webkit-linear-gradient(left, #8cd6af 0%, #8cd6af 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        left: -160px;
        top: -5px;
        position: relative; }
        .whiteBG input[type=file]::before input {
          border-color: #8cd6af; }
      .whiteBG input[type=file]:hover::before {
        color: #ffe400;
        background: #009966;
        background-image: -webkit-linear-gradient(left, #8cd6af 0%, #8cd6af 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
        background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
        .whiteBG input[type=file]:hover::before input {
          border-color: #ffe400; }
  .whiteBG select {
    margin: 10px 2%;
    color: black;
    padding: 5px 15px 10px;
    line-height: 50px;
    border: none;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Roboto";
    -webkit-appearance: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    color: #009966;
    background: #ededed;
    background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
    background-size: 100% 5px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    padding-right: 35px;
    width: 96%; }
    .whiteBG select:focus {
      color: #ffe400;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
      background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
    .whiteBG select input {
      border-color: #009966; }
  .whiteBG span.inputs {
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    margin: 2%; }
    .whiteBG span.inputs label {
      width: inherit;
      text-align: left;
      font-size: 1.5rem;
      font-weight: 200;
      font-family: "Roboto";
      -webkit-appearance: none;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 3px;
      color: #999999;
      background: #ededed;
      background-image: -webkit-linear-gradient(left, #999999 0%, #999999 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-shadow: none;
      height: auto;
      padding: 13px 0 14px;
      line-height: 2.4rem; }
      .whiteBG span.inputs label:focus {
        color: #ffe400;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
        background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
        background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
      .whiteBG span.inputs label input {
        border-color: #999999; }
      .whiteBG span.inputs label.separate_line {
        display: block;
        clear: both;
        margin: 0 0 5px;
        width: 96%; }
      .whiteBG span.inputs label.yes {
        color: #006644;
        background: rgba(85, 187, 136, 0.25);
        background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        text-align: right; }
        .whiteBG span.inputs label.yes input {
          border-color: #006644; }
        .whiteBG span.inputs label.yes input {
          float: right; }
      .whiteBG span.inputs label.no {
        color: #db3900;
        background: rgba(219, 57, 0, 0.25);
        background-image: -webkit-linear-gradient(left, #db3900 0%, #db3900 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        text-align: left; }
        .whiteBG span.inputs label.no input {
          border-color: #db3900; }
      .whiteBG span.inputs label.female {
        color: #db3900;
        background: rgba(219, 57, 0, 0.25);
        background-image: -webkit-linear-gradient(left, #db3900 0%, #db3900 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        text-align: right; }
        .whiteBG span.inputs label.female input {
          border-color: #db3900; }
        .whiteBG span.inputs label.female input {
          float: right; }
      .whiteBG span.inputs label.male {
        color: #1185d0;
        background: rgba(17, 133, 208, 0.25);
        background-image: -webkit-linear-gradient(left, #1185d0 0%, #1185d0 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        text-align: left; }
        .whiteBG span.inputs label.male input {
          border-color: #1185d0; }
      .whiteBG span.inputs label.left {
        text-align: right; }
        .whiteBG span.inputs label.left input {
          float: right; }
      .whiteBG span.inputs label.clean {
        background: none;
        color: #006644;
        padding-left: 3%; }
      .whiteBG span.inputs label.yes, .whiteBG span.inputs label.no, .whiteBG span.inputs label.female, .whiteBG span.inputs label.male, .whiteBG span.inputs label.left, .whiteBG span.inputs label.right, .whiteBG span.inputs label.clean {
        width: 46%;
        margin: 1px 4% 0 0; }
      .whiteBG span.inputs label.check {
        display: block;
        margin: 0;
        width: 90%;
        color: #009966;
        background: #ededed;
        background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
        background-size: 100% 5px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat; }
        .whiteBG span.inputs label.check input {
          border-color: #009966; }
        .whiteBG span.inputs label.check:hover {
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
          background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
          background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
          background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
          background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
          background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
  .whiteBG p {
    color: #414a4c;
    margin-right: 25px;
    text-align: justify; }

.imageBG h3.signUp {
  padding: 1rem; }
.imageBG section {
  background: none; }
.imageBG label {
  display: block;
  width: 90%;
  float: left;
  text-align: left;
  margin: 30px 5% 0;
  color: #8cd6af;
  text-transform: uppercase;
  text-shadow: 1px 2px 0 #009966;
  height: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }
.imageBG input {
  float: left;
  width: 96%;
  height: 70px;
  margin: 10px 2%;
  color: black;
  padding: 5px 15px 10px;
  line-height: 50px;
  border: none;
  color: #009966;
  background: rgba(255, 255, 255, 0.75);
  background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
  background-size: 100% 5px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Roboto";
  -webkit-appearance: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 3px;
  transition: all .5s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }
  .imageBG input input {
    border-color: #009966; }
  .imageBG input:focus {
    color: #ffe400;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
    background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
  .imageBG input::-webkit-input-placeholder {
    color: #8cd6af; }
  .imageBG input:focus {
    background-color: #55bb88; }
  .imageBG input[type=radio] {
    display: block;
    height: 30px;
    width: 30px;
    margin: 5px 10px;
    background: transparent !important;
    border: 2px solid;
    border-radius: 100%; }
    .imageBG input[type=radio]:after {
      position: absolute;
      font-family: FontAwesome;
      top: 0;
      left: -5px;
      content: "\25AE"; }
  .imageBG input[type=button] {
    color: #8cd6af;
    background: #006644;
    background-image: -webkit-linear-gradient(left, #b0f0cc 0%, #b0f0cc 100%);
    background-size: 100% 5px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat; }
    .imageBG input[type=button] input {
      border-color: #8cd6af; }
    .imageBG input[type=button]:hover {
      color: #ffe400;
      background: #009966;
      background-image: -webkit-linear-gradient(left, #ffe400 0%, #ffe400 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
      background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
      .imageBG input[type=button]:hover input {
        border-color: #ffe400; }
.imageBG select {
  margin: 10px 2%;
  color: black;
  padding: 5px 15px 10px;
  line-height: 50px;
  border: none;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Roboto";
  -webkit-appearance: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 3px;
  color: #8cd6af;
  background: #55bb88;
  background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
  background-size: 100% 5px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat; }
  .imageBG select:focus {
    color: #ffe400;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
    background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
    background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
  .imageBG select input {
    border-color: #8cd6af; }
.imageBG span.inputs {
  display: block;
  float: left;
  text-align: left;
  width: 100%;
  margin: 2%; }
  .imageBG span.inputs label {
    width: inherit;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Roboto";
    -webkit-appearance: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    color: gray;
    background: #ededed;
    background-image: -webkit-linear-gradient(left, #fafafa 0%, #fafafa 100%);
    background-size: 100% 5px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    text-shadow: none;
    height: auto;
    padding: 15px 0 10px;
    line-height: 2.4rem; }
    .imageBG span.inputs label:focus {
      color: #ffe400;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #006644), color-stop(100%, #ffe400));
      background-image: -webkit-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -o-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: -ms-linear-gradient(left, #006644 0%, #ffe400 100%);
      background-image: linear-gradient(to right, #006644 0%, #ffe400 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006644', endColorstr='#ffe400',GradientType=1 ); }
    .imageBG span.inputs label input {
      border-color: gray; }
    .imageBG span.inputs label.separate_line {
      display: block;
      clear: both; }
    .imageBG span.inputs label.yes {
      color: #006644;
      background: rgba(85, 187, 136, 0.5);
      background-image: -webkit-linear-gradient(left, #009966 0%, #009966 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-align: right; }
      .imageBG span.inputs label.yes input {
        border-color: #006644; }
      .imageBG span.inputs label.yes input {
        float: right; }
    .imageBG span.inputs label.no {
      color: #db3900;
      background: rgba(219, 57, 0, 0.5);
      background-image: -webkit-linear-gradient(left, #db3900 0%, #db3900 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-align: left; }
      .imageBG span.inputs label.no input {
        border-color: #db3900; }
    .imageBG span.inputs label.female {
      color: #db3900;
      background: rgba(219, 57, 0, 0.5);
      background-image: -webkit-linear-gradient(left, #db3900 0%, #db3900 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-align: right; }
      .imageBG span.inputs label.female input {
        border-color: #db3900; }
      .imageBG span.inputs label.female input {
        float: right; }
    .imageBG span.inputs label.male {
      color: #1185d0;
      background: rgba(17, 133, 208, 0.5);
      background-image: -webkit-linear-gradient(left, #1185d0 0%, #1185d0 100%);
      background-size: 100% 5px;
      background-position: 0 100%, 0 0;
      background-repeat: no-repeat;
      text-align: left; }
      .imageBG span.inputs label.male input {
        border-color: #1185d0; }
    .imageBG span.inputs label.yes, .imageBG span.inputs label.no, .imageBG span.inputs label.female, .imageBG span.inputs label.male, .imageBG span.inputs label.clean {
      width: 44%;
      margin: 0 4% 0 0; }

.hidden {
  display: none; }

.wrapper {
  width: 960px;
  margin: auto; }

a.btn {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 100%; }
  a.btn i {
    font-size: 20px; }

#registration_form {
  width: 100%;
  margin: 0 auto;
  background: #006644;
  overflow-x: hidden; }
  #registration_form fieldset#signButtons {
    position: absolute;
    bottom: 110px;
    width: 80%;
    padding-left: 10%; }
    #registration_form fieldset#signButtons input.txt {
      width: 10px;
      padding: 10px 10px 10px;
      opacity: 0; }
    #registration_form fieldset#signButtons input.hidden {
      width: 0px;
      padding: 10px; }
    #registration_form fieldset#signButtons input[type=button] {
      width: 21%; }
    #registration_form fieldset#signButtons a {
      float: left;
      color: white;
      text-decoration: none;
      margin-left: 3%;
      clear: both;
      transition: all .5s;
      font-size: 1.2rem; }
      #registration_form fieldset#signButtons a:hover {
        text-decoration: underline; }
      #registration_form fieldset#signButtons a.hidden {
        opacity: 0;
        display: block; }
  #registration_form #welcome {
    padding: 1px 0;
    background: #006644;
    background-image: url(../img/front.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    #registration_form #welcome #idNumber {
      position: fixed;
      top: 0;
      right: 0;
      padding: 5px 15px;
      background: rgba(0, 102, 68, 0.3);
      opacity: 1;
      transition: all 1s;
      z-index: 500; }
      #registration_form #welcome #idNumber span {
        color: #ffe400;
        letter-spacing: 4px;
        font-family: monospace;
        font-size: 1.6rem; }
      #registration_form #welcome #idNumber a {
        text-align: right;
        float: right;
        color: white; }
        #registration_form #welcome #idNumber a:hover {
          text-decoration: underline; }
      #registration_form #welcome #idNumber.hidden {
        opacity: 0;
        display: block; }
      #registration_form #welcome #idNumber.sticky {
        padding: 18px 18px; }
    #registration_form #welcome img {
      margin: 20px 0; }
    #registration_form #welcome h1 {
      position: absolute;
      bottom: 180px; }
    #registration_form #welcome h2 {
      color: #006644;
      text-shadow: 1px 2px 0 #8cd6af;
      position: absolute;
      bottom: 110px;
      margin-left: 45px;
      opacity: 1;
      transition: all .3s; }
      #registration_form #welcome h2.hidden {
        display: block;
        bottom: 0;
        opacity: 0; }
  #registration_form #wizard {
    color: white;
    overflow: auto;
    padding: 10px 1px 50px;
    background: #006644;
    background-image: url(../img/front-green.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; }
    #registration_form #wizard.sticky {
      position: fixed;
      top: 0;
      padding-bottom: 10px;
      z-index: 100; }
    #registration_form #wizard div {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      padding: 10px;
      width: 14.28571%;
      display: inline-block;
      float: left;
      color: inherit; }
      #registration_form #wizard div a {
        color: inherit;
        text-decoration: none; }
        #registration_form #wizard div a .number {
          display: block;
          width: 35px;
          height: 35px;
          border: 4px solid;
          border-radius: 100%;
          text-align: center;
          line-height: 35px;
          font-size: 1.5rem;
          font-weight: 600;
          margin: auto;
          cursor: pointer; }
          #registration_form #wizard div a .number:after {
            content: "";
            display: block;
            border: 2px solid;
            width: 270%;
            left: 100%;
            bottom: 58%;
            position: relative;
            cursor: initial; }
          #registration_form #wizard div a .number.clock:after {
            bottom: 82%; }
      #registration_form #wizard div h4 {
        display: none; }
      #registration_form #wizard div.unavailable {
        color: #8cd6af; }
      #registration_form #wizard div.active {
        color: #ffe400; }
      #registration_form #wizard div.last .number:after {
        content: "";
        width: 0;
        border: none; }
  #registration_form fieldset {
    width: 100%;
    border: 0;
    padding: 0;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; }
    #registration_form fieldset header legend {
      height: 50px;
      font-weight: 100;
      color: #ffe400;
      margin-left: 30px;
      padding: 0;
      line-height: 2.5rem;
      vertical-align: top;
      overflow: hidden;
      font-size: 1.6rem;
      text-transform: uppercase; }
      #registration_form fieldset header legend strong {
        font-size: 4rem;
        font-weight: 900;
        line-height: 2.8rem;
        display: none; }
      #registration_form fieldset header legend .fa {
        width: 70px;
        text-align: center; }
    #registration_form fieldset > section {
      overflow: auto;
      padding: 30px 0 50px 0; }
      #registration_form fieldset > section h2 {
        font-weight: 200;
        font-style: normal;
        text-align: left;
        margin-bottom: 5px; }
      #registration_form fieldset > section h3 {
        color: darkgray;
        margin-top: 5px; }
      #registration_form fieldset > section ol {
        display: block;
        margin-bottom: 30px;
        overflow: auto; }
        #registration_form fieldset > section ol li {
          float: left;
          text-align: left;
          width: 50%;
          display: block;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -o-box-sizing: border-box; }
          #registration_form fieldset > section ol li.double {
            width: 100%; }
            #registration_form fieldset > section ol li.double label {
              width: 95%;
              margin: 30px 2.5% 0; }
            #registration_form fieldset > section ol li.double select {
              width: 98%;
              margin: 10px 1%; }
            #registration_form fieldset > section ol li.double span.inputs input[type=file] {
              width: 82%;
              margin-left: 14%;
              margin-top: 0; }
              #registration_form fieldset > section ol li.double span.inputs input[type=file]:before {
                left: -160px; }
          #registration_form fieldset > section ol li.oneAndaHalf {
            width: 75%; }
            #registration_form fieldset > section ol li.oneAndaHalf select {
              width: 97%;
              margin: 10px 1.5%; }
            #registration_form fieldset > section ol li.oneAndaHalf span.inputs input[type=file] {
              width: 75%;
              margin-left: 20%;
              margin-top: 0; }
              #registration_form fieldset > section ol li.oneAndaHalf span.inputs input[type=file]:before {
                left: -160px; }
          #registration_form fieldset > section ol li.aHalf {
            width: 25%; }
            #registration_form fieldset > section ol li.aHalf select, #registration_form fieldset > section ol li.aHalf input {
              width: 93%;
              margin: 10px 3.5%; }
          #registration_form fieldset > section ol li.optional {
            opacity: .3;
            display: none; }
    #registration_form fieldset.closed {
      height: 50px;
      overflow: hidden; }
      #registration_form fieldset.closed legend {
        color: white; }
      #registration_form fieldset.closed:hover {
        height: 60px; }
        #registration_form fieldset.closed:hover legend {
          color: #ffe400; }
    #registration_form fieldset.unavailable legend {
      color: #8cd6af; }

section#overlay {
  background: rgba(255, 255, 255, 0.5); }
  section#overlay h1 {
    text-align: center;
    color: #8cd6af; }
  section#overlay h2 {
    color: #009966; }
  section#overlay p {
    color: #006644;
    font-size: 1.2rem; }

#Section7 {
  padding-bottom: 80px; }
  #Section7 section.finished h1 {
    text-align: center; }
  #Section7 section.finished h2 {
    color: #b0f0cc; }
  #Section7 section.finished p {
    color: white;
    font-size: 1.2rem; }

footer {
  background: #006644;
  background-image: url(../img/front-green.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px 0;
  text-align: center; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }
