/* widths */
/* colors */
body {
  font-family: "Roboto", sans-serif; }

#registration_form {
  width: 960px;
  margin: 0 auto; }
  #registration_form #wizard {
    width: 960px; }
    #registration_form #wizard div {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      padding: 10px;
      width: 16.66%;
      display: inline-block;
      float: left;
      background: #709588;
      color: white;
      border-right: 1px solid white; }
  #registration_form fieldset {
    border: 0;
    padding: 0;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; }
    #registration_form fieldset legend {
      height: 40px;
      width: 100%;
      font-size: 2rem;
      font-weight: 100;
      background: #709588;
      color: white;
      margin: 0;
      padding: 0 15px;
      line-height: 2.5rem;
      vertical-align: top;
      overflow: hidden; }
      #registration_form fieldset legend strong {
        font-size: 4rem;
        font-weight: 900;
        line-height: 2.8rem; }
    #registration_form fieldset ol li {
      float: left;
      text-align: left;
      width: 100%;
      display: block; }
      #registration_form fieldset ol li.optional {
        opacity: .3; }
      #registration_form fieldset ol li label {
        display: block;
        width: 30%;
        float: left;
        text-align: right;
        margin: 5px 4%;
        color: #b8b3bc; }
      #registration_form fieldset ol li input {
        float: left;
        width: 60%;
        background: #ddd8e0;
        border: none;
        padding: 5px;
        margin-top: 5px; }
        #registration_form fieldset ol li input[type="radio"], #registration_form fieldset ol li input[type="checkbox"] {
          width: auto;
          margin: 5px 10px; }
      #registration_form fieldset ol li select {
        background: #ddd8e0;
        border: none; }
      #registration_form fieldset ol li span.inputs {
        width: 60%;
        display: block;
        float: left;
        text-align: left; }
        #registration_form fieldset ol li span.inputs label {
          width: inherit;
          text-align: left; }
          #registration_form fieldset ol li span.inputs label.separate_line {
            display: block;
            clear: both; }
          #registration_form fieldset ol li span.inputs label.yes {
            color: #709588;
            text-align: right;
            width: 48%;
            margin: 0;
            background: rgba(112, 149, 136, 0.3); }
            #registration_form fieldset ol li span.inputs label.yes input {
              float: right; }
          #registration_form fieldset ol li span.inputs label.no {
            color: #db3900;
            text-align: left;
            width: 48%;
            margin: 0;
            background: rgba(219, 57, 0, 0.3); }
          #registration_form fieldset ol li span.inputs label.female {
            color: #db3900;
            text-align: right;
            width: 48%;
            margin: 0;
            background: rgba(219, 57, 0, 0.3); }
            #registration_form fieldset ol li span.inputs label.female input {
              float: right; }
          #registration_form fieldset ol li span.inputs label.male {
            color: #1185d0;
            text-align: left;
            width: 48%;
            margin: 0;
            background: rgba(17, 133, 208, 0.3); }
    #registration_form fieldset.closed {
      height: 26px;
      overflow: hidden; }
      #registration_form fieldset.closed legend {
        color: rgba(255, 255, 255, 0.8); }
      #registration_form fieldset.closed:hover {
        height: 60px; }
        #registration_form fieldset.closed:hover legend {
          color: #ffe400; }
    #registration_form fieldset.unavailable legend {
      background: #ddd8e0;
      color: #b8b3bc; }
